.container{
	box-sizing: border-box;
	margin:0;
	width: 100%;
	border-radius: 0.625rem;
	background: #F6F6F6;
	overflow: hidden;

	.title{
		box-sizing: border-box;
		display:flex;
		position: relative;
		background: #FF6060;
		border-radius: 0.625rem;
		padding: 0;
		button{
			border: none;
			color:#F6F6F6;
			background-color: transparent;
			padding:0;
			margin: 0;
			width: 100%;
			text-align: start;
			background: #FF6060;
			border-radius: 0.625rem;
			padding: 0.625rem 0.9375rem;
			
			cursor : pointer;
			color: #FFF;
	
			font-family: Montserrat;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 500;
			line-height: 142.6%; /* 2.139rem */
		}
		img {
			position: absolute;
			right: 1.25rem;
		}
	}

	.options{
		display: flex;
		flex-direction: column;
		color: #FF6060;
		background: #F6F6F6;
		font-family: Montserrat;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 142.6%; /* 1.60425rem */
		border-radius: 0.625rem;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		padding: 1.25rem;

		p{
			margin: 0;
		}
	}

}

@media (prefers-reduced-motion: no-preference){
	.options {
		animation: appear 0.5s linear;
	}
	
}    

@keyframes appear{
	0% {
	   max-height:0;
	}
	100%{
		max-height:90rem;
	}
}

@media screen and (max-width: 800px){
	.title{
		align-items: center;
		button{
			font-size: 0.8125rem !important;
			line-height: 142.6% !important; /* 1.15863rem */
			img {
				top:8%;
				right: 0.38rem !important;
				width: 2rem;
				height: 2rem;
			}
		}
		
	}

	.options{
		

		p{
			font-size: 0.75rem;
		}
	}
}