.control{
    box-sizing: border-box;
    position: relative;
    max-width:77.5rem;
    max-height:25.9375rem;
    
    button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        height: 100%;

        &.prev {
            left: 0;
            z-index: 1;
        }

        &.next {
            right: 0;
        }
        
    }
    .container{
        position: relative;
        box-sizing: border-box;
        background: #f1f1f1;
        display:flex;
        flex-wrap:nowrap;
        overflow:hidden;
        max-width:77.5rem;
        max-height:25.9375rem;
        flex-shrink:0;
        border-radius: 1.5625rem;

        .item{
            margin: auto;
            min-width:100%;
            width:100%;
            display:flex;
            transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
            box-sizing: border-box;
            img{
                position:relative;
                min-width: 100%;
                min-height: 200%;
                top:-25%;
            }
        }
        
    }
}

