body{
    margin: 0px;
    height: 100%;
}

#App {
    max-width: 1440px;
    align-items: center;
    width: 100%;
    height: 100%;
}
main{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
}

.headerWrap, .bannerWrap, .cardcontainerWrap, .footerWrap{
    width: 100%;
    height: 100%;
}
.headerWrap{
    margin-top: 2.81rem;
}
.bannerWrap, .footerWrap{
    margin-top: 3.12rem;
}
.cardcontainerWrap{
    margin-top: 2.69rem;
}

@media screen and (max-width:800px) {
    .headerWrap{
        margin-top: 1.25rem;
    }
    .bannerWrap, .footerWrap{
        margin-top: 1.69rem;
    }
    .cardcontainerWrap{
        margin-top: 1.38rem;
    }
}