.container{
    display:flex;
    flex-wrap: wrap;
    flex-shrink: 0;

    margin-inline: auto;
    padding-top: 3.5rem;
    padding-bottom: 2.69rem;

    box-sizing: border-box;
    max-width: 77.5rem;
    width:90%;
 
    border-radius: 1.5625rem;
    background: #F6F6F6;

    justify-content: center;
    row-gap: 3.12rem;
    column-gap: 3.75rem;
 
    padding-inline-start: 3.12rem;
    padding-inline-end: 3.12rem;
}

@media screen and (min-width: 1920px){
    
}

@media screen and (max-width: 800px){
    .container{
        background:none;
        padding: 0;
        margin: auto;
        margin-top: 0;
        row-gap: 1.25rem;
    }
    
}