.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 2.5rem;
    gap: 2.38rem;
}
.DDcontainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-self: center;
    gap: 1.875rem;
    max-width: 63.9375rem;
    width:90%;
}
.footerWrap{
    margin-top: 3.12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}