/* TOUT REFAIRE EN REM AVEC FIGMA */
html{
    height:100%;
    color: #FFFF;
}
body{
    display:flex;
    flex-direction: column;
    max-width: 1440px;
    min-height:100vh;
    margin: auto;
    align-items: center;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1240px;
    max-height: 68px;
}
footer  {
    display:flex;
    box-sizing: border-box;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 58px;
    gap: 1em;
    background-color: black;
    margin-top: auto;
}
footer img, footer p {
    margin: auto;
}
.mainContent {
    flex: 1;
}
.carousel-slide {
    margin:auto;
    overflow: hidden;
    max-width: 1240px;
    max-height: 223px;
    border-radius: 25px;
}
.carousel-slide img{

    transform: translate(0%, -45%);
}
.carousel-slide p{
    position:absolute;
    margin: 0;
    top:35%;
    left:25%;

    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.800);
}
.cardContainer{
    display:flex;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-top: 43px;
    padding-top: 56px;
    padding-bottom: 43px;
    padding-inline: 50px;

    box-sizing: border-box;
    max-width: 1240px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #F6F6F6;

    justify-content: center;
    row-gap: 60px;
    column-gap: 50px;

}

.card{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 25px;
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    
    background: linear-gradient(to bottom, #FFFFFF00, #000000);
    background-color: #FF6060;
    justify-content: flex-end;
}
.card span{
    margin-left: 25px;
    margin-bottom: 25px;
}
.card a{
    position: absolute;
    object-fit: cover;
    
}

@media screen and (min-width: 1920px){
    header {
        margin-top: 45px;
        margin-bottom: 50px;
    }
    a{
        margin-inline: 1em;
    }
}

@media screen and (max-width: 800px){
    body{
        max-width: 90%;
    }
    header {
        margin-top: 20px;
        margin-bottom: 27px;
    }
    nav{
        display:flex;
        justify-items: flex-start;
        gap: 26px;
    }
    header img{
        width:146px;
        height:46px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .carousel-slide {
        animation: Change-image 10s linear;
    }
    .nav {
        animation: Deploy infinite 5s linear;
    }
}

@keyframes Change-image {
    0%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(0);
    }
    95%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(200%);
    }
}
@keyframes Deploy {
    from {
        transform: rotate(1deg);
        overflow: hidden;
    }
    to {
        transform: rotate(200deg);
        overflow: auto;
    }
}