.container{
    display: flex;

    min-width: 7.1875rem;
    height: 1.5625rem;
    flex-shrink: 0;
    padding-inline: 0.2rem;

    border-radius: 0.625rem;
    background: #FF6060;

    color: #FFF;

    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 1.24775rem */

    text-align:center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:800px) {
    .container{
        font-size: 0.625rem;
        width: 5.25rem;
        height: 1.125rem;
    }
}